In [2]:
!mc ls s3/lngeth/data

]11;?\[2024-10-21 09:47:51 UTC]    39B STANDARD .keep
[2024-10-21 09:48:24 UTC]  12MiB STANDARD usagers-2022.csv
[2024-10-21 09:48:24 UTC] 5.7MiB STANDARD vehicules-2022.csv

In [3]:
!mc cp s3/lngeth/data/usagers-2022.csv ./usagers-2022.csv

...s-2022.csv: 12.41 MiB / 12.41 MiB ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓┃ 23.74 MiB/s 0s

In [4]:
!mc cp s3/lngeth/data/vehicules-2022.csv ./vehicules-2022.csv

...s-2022.csv: 5.74 MiB / 5.74 MiB ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓┃ 4.10 MiB/s 1s

# Import data into postgres

In [7]:
import pandas as pd

In [9]:
usagers_2022 = pd.read_csv("usagers-2022.csv", sep=";")
usagers_2022.head()

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202200000001,1 099 700,813 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,202200000001,1 099 701,813 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,202200000002,1 099 698,813 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1
3,202200000002,1 099 699,813 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1
4,202200000003,1 099 696,813 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1

In [10]:
vehicules_2022 = pd.read_csv("vehicules-2022.csv", sep=";")
vehicules_2022.head()

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202200000001,813 952,A01,1,2,0,2,1,9,1,NaN
1,202200000001,813 953,B01,1,7,0,2,2,1,1,NaN
2,202200000002,813 950,B01,2,7,0,2,8,15,1,NaN
3,202200000002,813 951,A01,2,10,0,2,1,1,1,NaN
4,202200000003,813 948,A01,2,7,0,2,1,2,1,NaN

In [14]:
!python3 -m pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 52.5 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [16]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://user-lngeth:bwxuk6yjhwp8u14hubx9@postgresql-409080.user-lngeth/defaultdb")

In [19]:
usagers_2022.to_sql('usagers', engine, if_exists='replace')

662

In [20]:
vehicules_2022.to_sql('vehicule', engine, if_exists='replace')

493